
.container{
     display: flex;
     flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; 
    margin: 15px 5px;
    
     
}
.user{
     display: flex;
     justify-content: center;
     align-items: center;
   
}

.user a{
     padding: 7px 20px;
     border-radius: 5px;
     color: var(--blue--dark);
     text-decoration: none;
}
.user a:hover{
    background-color: rgba(72, 72, 130, 0.825);

}

.icon{
     margin-right: 20px;
     width: 80px;
     height: 80px;
     border-radius: 50%;
     outline: 2px solid var(--blue--dark);
}

