.container{
     display: flex;
     justify-content: center;
}

.form{
     width: 60%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.selectSpan{
     position: relative;
     
     height: 180px;
      margin: 10px 0;
     padding: 5px 3px;
}

.select{
     position: absolute;
    width: 150px;
    height: 150px;
}

.options{
     padding: 4px 0;
}

.select::-webkit-scrollbar{
     width: 0;
}

.number{
     color: var(--blue--dark);
}


.resetIcon{
     /* width: calc(30px + 2px); */
     color: var(--blue--dark);
     border: 2px solid transparent;
     margin: 10px 0;
     border-radius: 4px;
    }

.resetIcon:hover{
     border: 2px solid var(--blue--dark);
}

.resetIcon *{
     font-size: 30px;
}

.btnFile{
     margin-top: 10px;
     background-color: var(--blue--dark);
     
     position: relative;
     display: flex;
     justify-content: center;
     width: auto;
     border-radius: 4px;
     padding: 3px 15px;
     border:2px solid var(--white--light);
}
.iconImage{
     position: absolute;
     text-align: center;
     color: var(--white--light);
     font-size: 30px;
     border-radius: 10px
     

}


@media only screen and (max-width:600px) {

     .form{width:90%}
     
}